<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<div >
<p style="display: inline">Cette tâche est <%= @task.completed ? 'faite':'à faire' %></p>
<input type="checkbox" disabled=true <%=@task.completed ? 'checked':''%>>
</div>
<%= link_to 'Modifier cette tâche', edit_task_path(@task) %>
<br>
<%= link_to 'Retour à la liste de tâches', tasks_path %>
